.content {
    width: 90%;
    margin: 1.4rem auto auto auto;
}

.title{
    text-align: center;
    margin-right: 10rem;
}

.title h1 {
    font-size: 2rem;
    margin-bottom: 3rem;
    font-style: italic;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

button{
    margin-bottom: 1rem;
}

.livros {
    color: blue;
    margin-left: .7rem;
}

.delete {
    color: rgb(253, 0, 0);
    margin-left: .50rem;
}

.edit {
    color: rgb(196, 105, 31);
}