<form>
    <h1>CRIANDO NOVO LIVRO</h1>
  
    <mat-form-field class="form">
      <mat-label>Titulo *</mat-label>
      <input matInput [(ngModel)]="livro.titulo"
        type="text" 
        name="titulo" 
        placeholder="Ex: Curso Spring com Angular" />
    </mat-form-field>
    
    <mat-form-field class="form">
      <mat-label>Nome do Autor *</mat-label>
      <input matInput [(ngModel)]="livro.nome_autor"
        type="text" 
        name="nome_autor" 
        placeholder="Ex: Firmino Andrade" />
    </mat-form-field>
  
    <mat-form-field class="form">
      <mat-label>Texto *</mat-label>
      <textarea matInput [(ngModel)]="livro.texto"
        type="text"
        name="texto"
        placeholder="Ex: 2.000.000 caracteres" maxlength="2000000"
      ></textarea>
    </mat-form-field>
  
    <div class="buttons">
      <!-- Botao criar Categoria -->
      <button (click)="criarLivro()" class="mat-elevation-z8" mat-stroked-button color="primary"> SALVAR </button>
      <button (click)="navegarParaListaLivros()" class="mat-elevation-z8" mat-stroked-button color="warn"> CANCELAR </button>
    </div>
  </form>
