.home {
    width: 100%;
    margin: 1rem, auto;
    padding-left: 1rem;
}

@media(max-width: 450px) {
    .home{
        width: 70%;
    }
}
@media(max-width: 770px) {
    .home{
        width: 90%;
    }
}